.admin{
    display:flex;
    // align-items:center;
    // justify-content:center;
    // width:30%;
    // margin-left:200px;
    // margin-top:70px;

    .left{
   
        display:flex;
        flex:0.5;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        margin-right:100px;
        h1{
            width:80%;
            text-align:center;
            margin-top:100px;
            margin-left:100px;
            
        }
        img{
            height:350px;
            width:500px;
            margin-left:100px;
            margin-top:50px;
            border-radius: 15px;
      
        }
    }
    .right{
        display:flex;
        flex:0.4;
        margin-top:70px;
        margin-left:50px;
        margin-right:90px;
        align-items:flex-start;
        justify-content:flex-start;
       
        
       
    }
}