.events{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;

    .top-banner{
        height:240px;
        width:100%;
        background-color:rgb(247, 197, 205);
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:row;
    
        .banner{
            height:190px;width:80%;
            margin:20px 10px;
            // background-color:white;
            border-radius:10px;
            overflow:hidden;
            display:flex;
            flex-direction:row;
            img{
                
                height:120%;
                margin-left:120px;
                margin-bottom:150px;
                // margin-top:20px;
            }
            background-image: url("../assets/background.jpg");
          
            // background-size:1350px 500px;
            .inner-banner{

                h1{
                    text-align:left;
                    font-size:40px;
                    margin-top:55px;
                    width:100%;
                    color:rgb(57, 134, 160);
                    // overflow:hidden;
                    z-index:999;
                    position:relative;
                }
                

                button {
                    text-decoration:none;
                    border-color: rgb(57, 134, 160);
                    font-size:15px;
                    font-weight:600;
                    border-radius:15px;
                    margin-top: 10px;
                    height: 50px;
                    width:200px;
                    cursor:pointer;
                    color:rgb(57, 134, 160);
                    background-color:transparent;
                    overflow:hidden;
                    a{
                        color:rgb(57, 134, 160);
                    }
                    a:link{
                        text-decoration:none;
                        color:rgb(57, 134, 160);
                    }
                }
            }
        }
    }
    .bottom{
        width:100%;
        display:flex;
       

        .eventList{
            display:flex;
            flex:0.5;
            flex-direction:column;
            align-items:flex-start;
            justify-content:flex-start;
            margin-left:30px;

            .eventHeader{
                margin-top:30px;
                margin-bottom:10px;
                margin-left:55px;
            
                h1{
                    font-size:26px;
                    font-weight:700;
                    color:black;
                
                }
            }

            .filter{
                margin-left:50px;
                margin-bottom: 10px;
                margin-top: 10px;
                display:flex;
                flex-direction: row;

                .isClicked {
                    text-decoration:none;
                    border:none;
                    padding: 10px 25px;
                    font-size:12px;
                    font-weight:600;
                    border-radius:15px;
                    width:150px;
                    cursor:pointer;
                    color:white;
                    background-color:rgb(245, 185, 185);
                    overflow:hidden;
                    margin-left:20px;
                }

                .isNotClicked {
                    text-decoration:none;
                    border-color:#202020;
                    padding: 8px 25px;
                    font-size:12px;
                    font-weight:600;
                    border-radius:15px;
                    width:150px;
                    cursor:pointer;
                    color:#3f3e3e;
                    background-color:white;
                    overflow:hidden;
                    margin-left:20px;
                }
            }

            h4{
                margin-top: 15px;
                margin-left: 60px;
                font-weight:700;
                color:#a1a1a1;
            }

            .event-list{
                max-height:600px;
                overflow-y: scroll;
                scroll-behavior: smooth;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
            
            .event{
                height:180px;width:560px;
                // background-color:white;
                border-radius:15px;
                box-shadow: 1px 1px 15px -8px #888888;
                margin:10px 20px;
                display:flex;
                overflow:hidden;
                
                .text{
                    display:flex;
                    flex-direction:column;
                    align-items:flex-start;
                    justify-content:flex-start;
                    margin:1rem 1rem;
                    width:52%;
                    h1{
                        text-align:left;
                        font-size:20px;
                        margin:8px 0px;
                        font-weight:500;
                    }
                    h2{
                        font-size:14px;
                        font-weight:500;
                        color:grey;
                    }

                    h3{
                        font-size:12px;
                        font-weight:300;
                        overflow:hidden;
                        
                    }

                    h6{
                        margin-top: 10px;
                        color:grey;
                    }
                }
            }
            
            img{
                height:150px;
                width:200px;
                border-radius:15px;
                margin:0.65rem 1rem;
               
            }
        }
        .map{
            display:flex;
            height:700px;
            flex:0.5;
            margin:35px 20px 15px 15px
        }
       
    }
}