.events{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    .top-banner{
        height:240px;
        width:100%;
        background-color:rgb(247, 197, 205);
        overflow:hidden;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:row;
    
        .banner{
            height:190px;width:80%;
            margin:20px 10px;
            // background-color:white;
            border-radius:10px;
            overflow:hidden;
            display:flex;
            flex-direction:row;
            img{
                
                height:120%;
                margin-left:120px;
                margin-bottom:150px;
                // margin-top:20px;
            }
            background-image: url("../assets/background.jpg");
          
            // background-size:1350px 500px;

            h1{
                text-align:left;
                font-size:40px;
                margin-top:55px;
                margin-left:100px;
                width:40%;
                color:rgb(57, 134, 160);
              
                // overflow:hidden;
                z-index:999;
                position:relative;
            }
            
        }
    }
    .bottom{
        height:calc(100vh - 240px);
        flex-direction:column;
        margin:10px 50px;
        h1{
            margin-top:50px;
            margin-left:30px;
            font-size:26px;
            font-weight:700;
            color:black;
        }
        .eventList{
            margin:45px 0px;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            img{
                height:100%;
                width:100%;
                border-radius:15px;
                margin:0rem 2rem;
            }
        }
       
    }
}