.partnershome{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    .top-banner{
    height:220px;
    width:100%;
    background-color:rgb(247, 197, 205);
    overflow:hidden;
    display:flex;
    flex-direction:row;
        img{
            background-size:cover;
            height:120%;
            margin-left:120px;
            margin-top:20px;
        }
        .text{
            display:flex;
            flex-direction:column;
            // align-items:flex-start;
            justify-content:center;
            width:50%;
            h1{
                text-align:left;
                font-size:40px;
                margin:20px 20px;
                width:100%;
                color:white;
                overflow:hidden;
            
            }
            button {
                text-decoration:none;
                border:none;
                padding: 10px 25px;
                font-size:12px;
                font-weight:600;
                border-radius:15px;
                width:150px;
                cursor:pointer;
                color:white;
                background-color:rgb(221, 132, 132);
                overflow:hidden;
                margin-left:20px;
                a{
                    color:white;
                }
                a:link{
                    text-decoration:none;
                    color:white;
                }
            }
        }
        

    }
    .bottom{
        height:calc(100vh - 220px);
    }
}