.app{
    height:100vh;
    overflow:hidden;

    .sections{
        width: 100%;
        height: calc(100vh - 60px);
        background-color:white;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display:none; //hiding scrollbar at right hand side 
        }

        > *{
            width: 100vw;
            height: calc(100vh - 60px);
            scroll-snap-align: start;
        }
    }
}
