.top-banner{
    height:80px;
    width:100%;
    background-color:rgb(247, 197, 205);
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .event-details{
        width:250px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;

        .button {
            width: 100px;
            height: 14px;
            text-decoration:none;
            border:2px solid white;
            padding: 10px 25px;
            font-size:12px;
            font-weight:600;
            border-radius:10px;
            cursor:pointer;
            color:white;
        }

    }
}