.eventDetails{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    height:1100px;

    .bottomPortion{
        width:100%;
        display:flex;
        flex-direction:row;

        .eventImage{
            position:absolute;
            top:80px;
            left:75px;
            flex-direction:column;
            align-items:flex-start;
            justify-content:flex-start;
        }

        .empty{
            display:flex;
            flex:0.5;
        }

        .description{
            display:flex;
            height:700px;
            margin-top: 30px;
            margin-left: 120px;
            flex:0.5;
            flex-direction: column;

            .descriptionWrap{
                width:580px;

                .caption{
                    width:100%;
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 5px;
                    margin-bottom: 30px;
                }

                .detailsContainer{
                    width:100%;
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .weather{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    
                    .rating{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .speaker-image{
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        .speakerImg{
                            width:60px;
                            height:60px;
                            border-radius:50%;
                            object-fit:cover;
                            margin-right:10px;
                        }
                    }
                }

                .map{
                    display:flex;
                    height:400px;
                    width:580px
                }
            }
        }
       
    }
}